
nav {
  //background-color: #333 !important;
}

.navbar {
  border: none;
  margin: 0;
  height: 50px
}

#top-menu-wrapper .navbar-header {
  display: inline-block;
}

#top-menu-wrapper {
  height: 50px
}

#top-menu-wrapper a {
  color: #ccc;
}

#top-menu-wrapper a:hover,
#top-menu-wrapper a:focus {
  color: #fff;
  background-color: #222;
}

#top-menu-wrapper .navbar-default .navbar-brand,
#top-menu-wrapper .navbar-default .navbar-brand:focus,
#top-menu-wrapper.navbar-default .navbar-brand:hover {
  color: #fff;
}

#top-menu-wrapper .dropdown-menu li a,
#top-menu-wrapper .dropdown-menu li a:hover {
  background-color: #fff;
  color: #333;
}

#top-right-nav-options {
  margin: 0;
}

#top-right-nav-options li {
  display: inline-block;
}

#top-right-nav-options .fa-caret-down {
  margin: 2px;
}

#top-right-nav-options .dropdown-toggle {
  height: 50px;
  padding-top: 15px;
}
